<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="assets/css/angular-material.css"/>
    <link rel="stylesheet" href="assets/css/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body ng-app="vaporApp" layout="row" ng-controller="GasStationController as gsvm" ng-cloak >

<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            ng-click="gsvm.toggleList()" aria-label="Show Gas Station List"
            md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
        <h3>Välj</h3>
    </md-toolbar>

    <!--<md-autocomplete
        ng-disabled="gsvm.isDisabled"
        md-no-cache="gsvm.noCache"
        md-selected-item="gsvm.selected"
        md-search-text-change="gsvm.searchTextChange(gsvm.searchText)"
        md-search-text="gsvm.searchText"
        md-selected-item-change="gsvm.selectedItemChange(item)"
        md-items="item in gsvm.querySearch(gsvm.searchText)"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="Search Gas Stations">
        <md-item-template>
          <span class="item-title"><strong>{{item.name}}</strong></span>
          <span class="item-metadata">{{item.address}}</span>
        </md-item-template>
    </md-autocomplete>-->

    <md-list>
        <md-list-item ng-repeat="gs in gsvm.gasStations">
            <md-button ng-click="gsvm.selectGasStation(gs)" ng-class="{'selected' : gs === gsvm.selected }">
                <md-icon md-svg-icon="{{gs.avatar}}" class="avatar"></md-icon>
                {{gs.name}} - {{gs.address}}
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>


<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button id="main" class="menu" hide-gt-sm ng-click="gsvm.toggleList()" aria-label="Show Gas Station List">
            <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h3>Bensinstation</h3>
    </md-toolbar>

    <md-content flex id="content">
        <div ng-show="gsvm.selected">
            <h2 class="md-display-1">{{gsvm.selected.name}}<br /><span class="md-subhead">{{gsvm.selected.address}}</span></h2>
            <form ng-include="'src/gasStations/view/gasStationForm.html'"></form>

            <md-button class="contact" md-no-ink ng-click="gsvm.makeContact(gsvm.selected)" aria-label="Share with {{ gsvm.selected.name }}">
                <md-tooltip>Contact {{ gsvm.selected.name }}</md-tooltip>
                <md-icon md-svg-icon="share"></md-icon>
            </md-button>
        </div>
    </md-content>

</div>

<script src="assets/js/angular.js"></script>
<script src="assets/js/angular-animate.js"></script>
<script src="assets/js/angular-aria.js"></script>
<script src="assets/js/angular-material.js"></script>

<script src="src/gasStations/GasStations.js"></script>
<script src="src/gasStations/GasStationController.js"></script>
<script src="src/gasStations/GasStationService.js"></script>

<script type="text/javascript">

    angular
            .module('vaporApp', ['ngMaterial', 'gasStations'])
            .config(function($mdThemingProvider, $mdIconProvider){

                $mdIconProvider
                        .defaultIconSet("./assets/svg/avatars.svg", 128)
                        .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                        .icon("share"      , "./assets/svg/share.svg"       , 24)
                        .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                        .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                        .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                        .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                $mdThemingProvider.theme('default')
                        .primaryPalette('brown')
                        .accentPalette('red');

            });

</script>

</body>
</html>
