<md-bottom-sheet class="md-list md-has-header">

    <md-subheader>
        <span class="name">{{ cp.gasStation.name }}</span> Historiska dokument:
    </md-subheader>

    <md-list>
        <md-item>
            <md-button ng-click="cp.showSimpleToast(item)" id="item_{{$index}}">
                <md-icon md-svg-icon="assets/svg/history.svg"></md-icon>
                07/27/2015
            </md-button>
        </md-item>
        <md-item>
            <md-button ng-click="cp.showSimpleToast(item)" id="item_{{$index}}">
                <md-icon md-svg-icon="assets/svg/history.svg"></md-icon>
                03/10/2014
            </md-button>
        </md-item>
    </md-list>

    <md-subheader>
        Kontakta <span class="name">{{ cp.gasStation.name }}</span>:
    </md-subheader>

    <md-list>
      <md-item ng-repeat="item in cp.actions">
        <md-button ng-click="cp.showSimpleToast(item)" id="item_{{$index}}">
            <md-icon md-svg-icon="{{ item.icon_url }}"></md-icon>
            {{item.name}}
            <br>
            {{item.address}}
        </md-button>
      </md-item>
    </md-list>

</md-bottom-sheet>
