<div layout-gt-xs="row">
    <md-datepicker ng-model="gsvm.selected.submissionDate" md-placeholder="Datum"></md-datepicker>
    <md-input-container class="md-block" flex-gt-xs>
        <label>Arbetsorder:</label>
        <input type="text" class="md-input" ng-model="gsvm.selected.arbetsord" name="Arbetsord" size="15" />
    </md-input-container>
    <md-input-container class="md-block" flex-gt-xs>
        <label>Rapportnr:</label>
        <input type="text" class="md-input" ng-model="gsvm.selected.rapportnr" name="Rapportnr" size="15" />
    </md-input-container>
</div>
<div class="md-title">Verksamhetsut</div>
<md-input-container class="md-block">
    <label>vare</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.vbolag" name="Vbolag" size="25" />
</md-input-container>
<md-input-container class="md-block">
    <label>Adress:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.vadress" name="Vadress" size="51" />
</md-input-container>
<md-input-container class="md-block">
    <label>Orgnr:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.vorgnr" name="Vorgnr" size="25" />
</md-input-container>
<md-input-container class="md-block">
    <label>Kontakt:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.vkontakt" name="Vkontakt" size="50" />
</md-input-container>

<div class="md-title">Stationsuppgifter</div>
<md-input-container class="md-block">
    <label>Adress:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.sadress" name="Sadress" size="40" />
</md-input-container>
<md-input-container class="md-block">
    <label>Postnr:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.spostnr" name="Spostnr" size="10" />
</md-input-container>
<md-input-container class="md-block">
    <label>Ort:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.sort" name="Sort" size="20" />
</md-input-container>
<md-input-container class="md-block">
    <label>Stationsnr:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.sstationsnr" name="Sstationsnr" size="25" />
</md-input-container>
<md-input-container class="md-block">
    <label>Kontakt:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.skontakt" name="Skontakt" size="50" />
</md-input-container>

<div class="md-title">Godk&auml;nd kontrollant</div>
<md-input-container class="md-block">
    <label>F&ouml;retag:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.gKforetag" name="GKforetag" size="30" />
</md-input-container>
<md-input-container class="md-block">
    <label>Adress:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.gKadress" name="GKadress" size="40" />
</md-input-container>
<md-input-container class="md-block">
    <label>Postnr:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.gKpostnr" name="GKpostnr" size="10" />
</md-input-container>
<md-input-container class="md-block">
    <label>Ort:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.gKort" name="GKort" size="20" />
</md-input-container>
<md-input-container class="md-block">
    <label>Orgnr:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.gKorgnr" name="GKorgnr" size="15" />
</md-input-container>

<div class="md-title">Ansvarig kontrollant</div>
<md-input-container class="md-block">
    <label>Namn:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.aKnamn" name="AKnamn" size="40" />
</md-input-container>
<md-input-container class="md-block">
    <label>Anstnr:</label>
    <input type="text" class="md-input" ng-model="gsvm.selected.aKanstnr" name="AKanstnr" size="20" />
</md-input-container>
<div layout="row" layout-wrap flex class="layout-wrap layout-row flex">
    <div class="md-block" flex-gt-xs>
        <div class="md-title">Verifiering p&aring; station</div>
        <ul>
            <li>
                <md-checkbox  class="md-warn md-align-top-left" ng-model="gsvm.selected.installation"  ng-true-value="true" ng-false-value="false">
                    <label>1: Kontroll efter installation</label>
                </md-checkbox>
            </li>
            <li>
                <md-checkbox  class="md-warn md-align-top-left" ng-model="gsvm.selected.ombyggnad"  ng-true-value="true" ng-false-value="false">
                    <label>2: Kontroll efterreparation/ombyggnad</label>
                </md-checkbox>
            </li>
            <li>
                <md-checkbox  class="md-warn md-align-top-left" ng-model="gsvm.selected.rskontroll"  ng-true-value="true" ng-false-value="false">
                    <label>3: 1-&aring;rs kontroll</label>
                </md-checkbox>
            </li>
            <li>
                <md-checkbox  class="md-warn md-align-top-left" ng-model="gsvm.selected.monitoring"  ng-true-value="true" ng-false-value="false">
                    <label>4: 3-&aring;rs kontroll (Monitoring system)</label>
                </md-checkbox>
            </li>
        </ul>
    </div>
    <div class="md-block" flex-gt-xs>
        <div class="md-title">Testmetod</div>
        <ul>
            <li>
                <md-checkbox  class="md-warn md-align-top-left" ng-model="gsvm.selected.torrtest"  ng-true-value="true" ng-false-value="false">
                    <label>1: Torrtest</label>
                </md-checkbox>
            </li>
            <li>
                <md-checkbox  class="md-warn md-align-top-left" ng-model="gsvm.selected.metoda"  ng-true-value="true" ng-false-value="false">
                    <label>2: V&aring;ttest metod A</label>
                </md-checkbox>
            </li>
            <li>
                <md-checkbox  class="md-warn md-align-top-left" ng-model="gsvm.selected.metodb"  ng-true-value="true" ng-false-value="false">
                    <label>3: V&aring;ttest metod B</label>
                </md-checkbox>
            </li>
        </ul>
    </div>
</div>
<div class="md-title">Kontrollerade m&auml;tanl&auml;ggningar</div>
<table class="largeScreen">
    <tr>
        <td>
            Pump nr
        </td>
        <td>
            Serienr
        </td>
        <td>
            VR certnr
        </td>
        <td>
            Produkt
        </td>
        <td>
            Temp start/stopp
        </td>
        <td>
            Test-metod
        </td>
        <td>
            K-faktor
        </td>
        <td>
            Test resultat
        </td>
        <td>
            Test efter justering
        </td>
    </tr>
    <tr>
        <td class="md-block"><input type="text" class="md-input" name="KM1pnr" placeholder="Pump nr" /></td>
        <td class="md-block"><input type="input" name="KM1snr" placeholder="Serienr"  /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1vrcnr" placeholder="VR certnr" /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1produkt" placeholder="Produkt" /></td>
        <td class="layout-gt-sm-row">
            <span class="md-block" flex-gt-sm>
                <input type="text" class="md-input" name="KM1tempstart" placeholder="Temp start" />
            </span>
            <span class="md-block" flex-gt-sm>
                <input type="text" class="md-input" name="KM1tempstopp" placeholder="Temp stopp" />
            </span>
        </td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testmetod" placeholder="Test-metod" placeholder="KM1testmetod" /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1kfaktor" placeholder="K-faktor" /></td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testresultat" placeholder="Test resultat" /></td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testeftjust" placeholder="Test efter justering" /></td>
    </tr>
    <tr>
        <td class="md-block"><input type="text" class="md-input" name="KM1pnr" placeholder="Pump nr" /></td>
        <td class="md-block"><input type="input" name="KM1snr" placeholder="Serienr"  /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1vrcnr" placeholder="VR certnr" /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1produkt" placeholder="Produkt" /></td>
        <td class="layout-gt-sm-row">
            <span class="md-block" flex-gt-sm>
                <input type="text" class="md-input" name="KM1tempstart" placeholder="Temp start" />
            </span>
            <span class="md-block" flex-gt-sm>
                <input type="text" class="md-input" name="KM1tempstopp" placeholder="Temp stopp" />
            </span>
        </td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testmetod" placeholder="Test-metod" placeholder="KM1testmetod" /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1kfaktor" placeholder="K-faktor" /></td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testresultat" placeholder="Test resultat" /></td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testeftjust" placeholder="Test efter justering" /></td>
    </tr>
    <tr>
        <td class="md-block"><input type="text" class="md-input" name="KM1pnr" placeholder="Pump nr" /></td>
        <td class="md-block"><input type="input" name="KM1snr" placeholder="Serienr"  /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1vrcnr" placeholder="VR certnr" /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1produkt" placeholder="Produkt" /></td>
        <td class="layout-gt-sm-row">
            <span class="md-block" flex-gt-sm>
                <input type="text" class="md-input" name="KM1tempstart" placeholder="Temp start" />
            </span>
            <span class="md-block" flex-gt-sm>
                <input type="text" class="md-input" name="KM1tempstopp" placeholder="Temp stopp" />
            </span>
        </td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testmetod" placeholder="Test-metod" placeholder="KM1testmetod" /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1kfaktor" placeholder="K-faktor" /></td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testresultat" placeholder="Test resultat" /></td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testeftjust" placeholder="Test efter justering" /></td>
    </tr>
    <tr>
        <td class="md-block"><input type="text" class="md-input" name="KM1pnr" placeholder="Pump nr" /></td>
        <td class="md-block"><input type="input" name="KM1snr" placeholder="Serienr"  /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1vrcnr" placeholder="VR certnr" /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1produkt" placeholder="Produkt" /></td>
        <td class="layout-gt-sm-row">
            <span class="md-block" flex-gt-sm>
                <input type="text" class="md-input" name="KM1tempstart" placeholder="Temp start" />
            </span>
            <span class="md-block" flex-gt-sm>
                <input type="text" class="md-input" name="KM1tempstopp" placeholder="Temp stopp" />
            </span>
        </td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testmetod" placeholder="Test-metod" placeholder="KM1testmetod" /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1kfaktor" placeholder="K-faktor" /></td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testresultat" placeholder="Test resultat" /></td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testeftjust" placeholder="Test efter justering" /></td>
    </tr>
    <tr>
        <td class="md-block"><input type="text" class="md-input" name="KM1pnr" placeholder="Pump nr" /></td>
        <td class="md-block"><input type="input" name="KM1snr" placeholder="Serienr"  /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1vrcnr" placeholder="VR certnr" /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1produkt" placeholder="Produkt" /></td>
        <td class="layout-gt-sm-row">
            <span class="md-block" flex-gt-sm>
                <input type="text" class="md-input" name="KM1tempstart" placeholder="Temp start" />
            </span>
            <span class="md-block" flex-gt-sm>
                <input type="text" class="md-input" name="KM1tempstopp" placeholder="Temp stopp" />
            </span>
        </td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testmetod" placeholder="Test-metod" placeholder="KM1testmetod" /></td>
        <td class="md-block"><input type="text" class="md-input" name="KM1kfaktor" placeholder="K-faktor" /></td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testresultat" placeholder="Test resultat" /></td>
        <td  class="md-block"><input type="text" class="md-input" name="KM1testeftjust" placeholder="Test efter justering" /></td>
    </tr>
</table>
<div class="smallScreen">
    <div class="md-title">Pump 1</div>
    <div>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1pnr" placeholder="Pump nr" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1snr" placeholder="Serienr"  />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1vrcnr" placeholder="VR certnr" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1produkt" placeholder="Produkt" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1tempstart" placeholder="Temp start" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1tempstopp" placeholder="Temp stopp" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testmetod" placeholder="Test-metod" placeholder="KM1testmetod" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1kfaktor" placeholder="K-faktor" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testresultat" placeholder="Test resultat" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testeftjust" placeholder="Test efter justering" />
        </md-input-container>
    </div>
    <div class="md-title">Pump 2</div>
    <div>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1pnr" placeholder="Pump nr" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1snr" placeholder="Serienr"  />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1vrcnr" placeholder="VR certnr" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1produkt" placeholder="Produkt" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1tempstart" placeholder="Temp start" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1tempstopp" placeholder="Temp stopp" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testmetod" placeholder="Test-metod" placeholder="KM1testmetod" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1kfaktor" placeholder="K-faktor" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testresultat" placeholder="Test resultat" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testeftjust" placeholder="Test efter justering" />
        </md-input-container>
    </div>
    <div class="md-title">Pump 3</div>
    <div>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1pnr" placeholder="Pump nr" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1snr" placeholder="Serienr"  />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1vrcnr" placeholder="VR certnr" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1produkt" placeholder="Produkt" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1tempstart" placeholder="Temp start" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1tempstopp" placeholder="Temp stopp" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testmetod" placeholder="Test-metod" placeholder="KM1testmetod" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1kfaktor" placeholder="K-faktor" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testresultat" placeholder="Test resultat" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testeftjust" placeholder="Test efter justering" />
        </md-input-container>
    </div>
    <div class="md-title">Pump 4</div>
    <div>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1pnr" placeholder="Pump nr" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1snr" placeholder="Serienr"  />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1vrcnr" placeholder="VR certnr" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1produkt" placeholder="Produkt" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1tempstart" placeholder="Temp start" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1tempstopp" placeholder="Temp stopp" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testmetod" placeholder="Test-metod" placeholder="KM1testmetod" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1kfaktor" placeholder="K-faktor" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testresultat" placeholder="Test resultat" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testeftjust" placeholder="Test efter justering" />
        </md-input-container>
    </div>
    <div class="md-title">Pump 5</div>
    <div>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1pnr" placeholder="Pump nr" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1snr" placeholder="Serienr"  />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1vrcnr" placeholder="VR certnr" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1produkt" placeholder="Produkt" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1tempstart" placeholder="Temp start" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1tempstopp" placeholder="Temp stopp" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testmetod" placeholder="Test-metod" placeholder="KM1testmetod" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1kfaktor" placeholder="K-faktor" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testresultat" placeholder="Test resultat" />
        </md-input-container>
        <md-input-container class="md-block">
            <input type="text" class="md-input" name="KM1testeftjust" placeholder="Test efter justering" />
        </md-input-container>
    </div>
</div>
<md-input-container class="md-block">
    <label>Inga avvikelser</label>
    <textarea name="Avikelser" ng-model="gsvm.selected.avikelser" cols="100" rows="4"></textarea>
</md-input-container>
<md-input-container class="md-block">
    <label>Avvikelser</label>
    <textarea name="Avikelser" ng-model="gsvm.selected.avikelser" cols="100" rows="4"></textarea>
</md-input-container>
<md-input-container class="md-block">
    <label>Nästa kontroll skall ske senast:</label>
    <input type="text" class="md-input"ng-model="gsvm.selected.nkontroll"  name="Nkontroll" size="20" />
</md-input-container>
<button class="md-raised md-primary md-button md-ink-ripple md-focused" type="button" aria-label="Primary"><span class="ng-scope">Lämna</span><div class="md-ripple-container"></div></button>